[Unit]
Description=VPN bot
After=network.target

[Service]
User=root
Group=root
WorkingDirectory=/CURRENT_DIR/tg_bot_vpn_l2/main_bot
Environment="PATH=/CURRENT_DIR/tg_bot_vpn_l2/venv/bin"
ExecStart=/CURRENT_DIR/tg_bot_vpn_l2/venv/bin/python3 -u /CURRENT_DIR/tg_bot_vpn_l2/main_bot/app.py
Restart=always

[Install]
WantedBy=multi-user.target
